# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS junk
.DS_Store
Thumbs.db

# Editor junk
.vscode/
.idea/

# Coverage reports
coverage/

# Build artifacts
dist/
build/

# Cloudinary tmp files (if any)
tmp/
